.productItem {
    padding: 20px;
}

.productItem section {
    height: 67.5vh;
}

.productItem article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.productItem figure {
    width: 50%;
    text-align: center;
}

.productItem img {
    width: auto;
    max-height: 320px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

.productItem .productItemDetel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: #f8f9fa;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 8px;
    margin-left: 20px;
    width: 50%;
}

.productItem h3 {
    margin-top: 0;
    font-size: 24px;
}

.productItem h5 {
    font-size: 20px;
    color: #007bff;
    margin-bottom: 10px;
}

.productItem p {
    margin-bottom: 10px;
    line-height: 1.6;
}

.productItem button {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.productItem button:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .productItem article {
        flex-direction: column;
    }

    .productItem .productItemDetel {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }
}


/* ---------------------------- */
/* Snackbar.css */

